<div class="banner" style="background-image: url(<%= asset_path 'gustoHop-banner.jpg' %>); padding: 100px;">
  <div class="container">
    <div class="container headline">
      <h1>Discover Island wines</h1>
      <em>
        <h3>take a trip in every sip!</h3>
      </em>
      <em>
        <h3>search wines from one of our island producers</h3>
      </em>
    </div>
  </div>
</div>
<div class="banner">
  <div class="container value-add">
    <p>Island wines have several benefits that any wine enthusiast would appreciate. Many are grown within unique microclimates in volcanic soil that imparts distinct characteristics. Furthermore, these wines are grown on small-yield vineyards that utilize organic production methods. We can all toast to that - <em>cin cin!</em>   &#129346;</p>
  </div>
</div>
<div class="banner">
  <div class="container call-to-action">
    <h3>WANT TO LIST YOUR WINE?</h3>
    <a href="mailto:info@gustohop.com" class="btn btn-primary">CONTACT US!</a>
  </div>
</div>
<div class="container island-cards">
  <div class="card-columns">
    <% @islands.each  do |island| %>
      <div class="card">
        <!-- <img class="card-img-top" src="https://kitt.lewagon.com/placeholder/cities/random" alt="Card image cap"> -->
        <% if island.photo = "" %>
          <!-- <p>no image uploaded...</p> -->
          <%= image_tag "island-wine.jpg", class: "card-img-top", alt: 'gustoHop Island Wines' %>
        <% else %>
          <%= cl_image_tag island.photo.key %>
        <% end %>
        <div class="card-body">
          <h3><%= island.island_name %></h3>
          <p class="card-text">Lorem ipsum</p>
          <a href=<%= island_path(island) %> class="btn btn-primary">More Info</a>
        </div>
      </div>
    <% end %>
  </div>
</div>