<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="container">
        <h2><%= @producer.producer_name %></h2>
        <div class="container">
          <p><%= @producer.address1 %></p>
          <p><%= @producer.address2 %></p>
          <p><%= @producer.city %></p>
          <p><%= @producer.postal_code %></p>
          <p><%= @producer.country %></p>
          <p>ISLAND: <%= @producer.island.island_name %></p>
          <%= cl_image_tag @producer.photo.key %>
        </div>
        <% if policy(@producer).edit? %>
          <%= link_to "EDIT", edit_island_producer_path(@island, @producer), {class: "btn btn-primary"} %>
        <% end %>
        <% if policy(@producer).destroy? %>
          <%= link_to "DELETE", island_producer_path, method: :delete, data: {confirm: "Are you sure you want to delete? (it is permanent)"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>