<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="container">
        <h1>Island Wine showpage</h1>
        <h3><%= @producer.producer_name %></h3>
        <div class="container">
          <h4>located at:</h4>
          <p><%= @producer.address1 %></p>
          <p><%= @producer.address2 %></p>
          <p><%= @producer.city %></p>
          <p><%= @producer.postal_code %></p>
          <p><%= @producer.country %></p>
        </div>
        <%= link_to "EDIT", edit_island_producer_path(@producer), {class: "btn btn-primary"} %>
        <%= link_to "DELETE", island_producer_path, method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
</div>