<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Island Wine showpage</h1>
  <h3><%= @producer.producer_name %></h3>
  <div class="container">
    <h4>located at:</h4>
    <p><%= @producer.address1 %></p>
    <p><%= @producer.address2 %></p>
    <p><%= @producer.city %></p>
    <p><%= @producer.postal_code %></p>
    <p><%= @producer.country %></p>
  </div>
</div>